{% extends "base_generic.html" %}
{% load static %}

{% block content %}

{% if books %}
<div class="row row-cols-1 row-cols-md-5 g-2 justify-content-center" id="bookGrid">
    {% for book in books %}
    <div class="col">
        <div class="card card-transition mx-auto mb-3 pt-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ book.title }}">
            <a style="color: inherit" href="#">
                {% if book.cover_image %}
                    <img src="{{ book.cover_image.url }}" class="card-img-top" alt="Capa de {{ book.title }}">
                {% else %}
                    <img src="https://dummyimage.com/200x250/787878/fff&text=No+image" class="card-img-top" alt="Capa de {{ book.title }}">
                {% endif %}
                <div class="card-body">
                    <p class="card-title padding-card book-title text-truncate">{{ book }}</p>
                    <div>
                        <span class="card-bold margin-card-body">Author: </span>
                        <span class="card-text">{{ book.author }}</span>                    
                    </div>
                    <div>
                        <span class="card-bold margin-card-body">Publicação: </span>
                        <span class="card-text">{{ book.year }}</span>
                    </div>
                    <div>
                        <span class="card-bold margin-card-body">Gênero: </span>
                        <span class="card-text">{{ book.genre }}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
    <div class="container d-flex justify-content-center align-items-center flex-column">
        <h5><i class="text-center">Ainda não existem livros cadastrados</i></h5>
        <img src="{% static 'icons/folder.png'%}" alt="Sem foto">
    </div>
{% endif %}



{% endblock content %}


