{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<h2 class="text-center mb-3">Cadastre um novo autor</h2>

<form class="row g-3 justify-content-center mb-3" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-3">
        <div class="form-floating mb-3">
            {{ form.first_name }}
            <label for="{{ form.first_name.id_for_label }}">Nome</label>
            {% if form.first_name.errors %}
                <div class="text-danger">
                    {{ form.first_name.errors.0 }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-3">
        <div class="form-floating mb-3">
            {{ form.last_name }}
            <label for="{{ form.last_name.id_for_label }}">Sobrenome</label>
            {% if form.last_name.errors %}
                <div class="text-danger">
                    {{ form.last_name.errors.0 }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-3">
        <div class="form-control mb-3">
            {{ form.photo }}
        </div>
    </div>
    <div class="col-10 text-center">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</form>

<hr class="mb-5">

{% if authors %}
<h3 class="text-center mb-5">Autores Cadastrados:</h3>
<div class="container d-flex justify-content-center table-responsive">
    <table class="table custom-table table-hover text-center">
        <thead class="custom-thead">
            <tr>
                <th scope="col" style="width: 150px;">Foto</th>
                <th scope="col" style="width: 400px;">Nome</th>
                <th scope="col" style="width: 150px;"></th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr class="align-middle">
                    {% if author.photo %}
                    <td><img src="{{ author.photo.url }}" alt="Foto do Autor" class="table-img"></td>
                    {% else %}
                    <td><img src="https://dummyimage.com/50x50/9e9e9e/030303.png&text=+SEM+FOTO" alt="Sem foto" class="table-img"></td>
                    {% endif %}
                    <td>{{ author }}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-sm btn-primary py-1 px-1 me-1 btn-edit" 
                                    data-author-id="{{ author.id }}" 
                                    data-author-first-name="{{ author.first_name }}" 
                                    data-author-last-name="{{ author.last_name }}" 
                                    data-author-photo-url="{% if author.photo %}{{ author.photo.url }}{% else %}https://dummyimage.com/150x150/9e9e9e/030303.png&text=+SEM+FOTO{% endif %}">
                                Editar
                            </button>
                            <button type="button" class="btn btn-sm btn-danger py-1 px-1 ms-1 btn-delete" 
                                    data-author-id="{{ author.id }}" 
                                    data-author-name="{{ author.first_name }} {{ author.last_name }}" 
                                    data-author-photo-url="{% if author.photo %}{{ author.photo.url }}{% else %}https://dummyimage.com/150x150/9e9e9e/030303.png&text=+SEM+FOTO{% endif %}">
                                Deletar
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
<div class="container d-flex justify-content-center align-items-center flex-column">
    <h5><i class="text-center">Ainda não existem autores cadastrados</i></h5>
    <img src="{% static 'icons/folder.png'%}" alt="Sem foto">
</div>
{% endif %}

<!-- Modal para editar autor -->
{% include "edit_modal_author.html" %}

<!-- Modal para excluir autor-->
{% include "delete_modal_author.html" %}

<script src="{% static 'js/edit_author.js' %}"></script>
<script src="{% static 'js/delete_author.js' %}"></script>

{% endblock content %}